/* @override 
	http://localhost:8888/_projets/trailhead2/graph.css */

/* Body style */
body						{ text-align: center; font-size:13px; font-family: Helvetica; }
br.clear					{ clear:both; }

/* Common helper*/
.left						{float: left;display: inline;}
.right						{float: right;display: inline;}
.clear						{width: 100%; height: 1px;clear: both;}
.hidden						{display: none;}

.leftMargin					{ padding-left: 230px; }
.leftCol					{ width: 30%; min-width: 300px; position: relative; float: left; }
.rightCol					{ width: 33%; min-width: 530px; position: relative; float: left; }
.loading					{ float:left; padding:3px; }
.loading-text				{ padding:7px; margin-top:3px; margin-left: 20px; display:block; }
.boldText					{ font-weight:bold; }
.italicText					{ font-style:italic; }

/* Links */
a:link						{ text-decoration: none; color:#711; }
a:visited					{ color: #711; }
a:hover						{ text-decoration: underline; color: #c51; }
a.menuLink					{ text-decoration: none; color:#ddd; }
a.menuLink:hover			{ color:#f4f4f4; }

/* Header */
div#header					{ background: rgb(72, 72, 72); background: rgba(72, 72, 72, 0.8);}
div#header					{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8666666, endColorstr=#C0666666); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0F0F0F0, endColorstr=#C0F0F0F0)"; }
div#header 					{ width: 100%; min-width: 950px; position:fixed; z-index:2; border-bottom: solid 2px #921; }
div#logo					{ display:none;height:120px; margin-left:100px; }
div#logo img				{ position:relative; float:left; }
div#title					{ padding-left: 20px; position:relative; float:left; }
div#title h1				{ color: #ccc; font-family: georgia, serif; font-weight: normal; font-size: 7em; }
div#title h3				{ color: #ccc; text-align:left; font-size:1.3em; font-weight:normal; padding-left:5px; margin-top:-5px;  }
div#menu					{ height: 24px; padding-top:12px; }
div#menu h1					{ float: left; margin-left: 50px; width: 150px; font-size: 1.5em; margin-top: -4px; color: #AAA; font-family: georgia; }
div#menu ul#menulist		{ display: block; height:24px; padding-left:30px; }
div#menu li					{ cursor:move; position: relative; float: left; font-size:15px; margin-right: 30px; padding-left: 2px; margin-top: -1px; list-style: none; ; line-height: 1em; }
div#menu li:hover			{ color: #eee; }
div#menu .currentInfo		{ font-weight:bold; }
div#searchitem				{ text-align:left; color:#ddd; padding-bottom:4px; line-height: 1em; float:right; }
div#searchitem input		{ width:140px; border: 1px solid #333; margin-top:-5px; padding-left:2px; height:24px; }
div#searchitem label		{ font-size: 15px; padding-right: 3px; }
div#searchitem span			{ display:none; margin-left: 10px; font-size:14px; }

/* Content */
div#content					{ min-width:1000px; }

/* Description */
div.desc					{ background: rgb(0, 0, 0); background: rgba(248, 248, 248, 0.8);}
div.desc					{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8F0F0F0, endColorstr=#C0F0F0F0); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0F0F0F0, endColorstr=#C0F0F0F0)"; }
div.desc					{ width: 100%; height:160px; text-align:left; z-index:10; position:fixed; top:38px; border-bottom: 2px solid #921; display:none; }
div.desc p					{ padding-top: 8px; min-width: 500px; margin-right:60%; }

/* Legend */
div.legend					{ position:relative; float:left; height: 160px; margin-right: 30px; }
h2.legend					{ font-size:1.2em; margin-top:8px; }
li.legend					{ margin-left:-25px; padding:5px 25px; width:200px; }
li.legend.node				{ background: url(img/node.png) no-repeat left center; }
li.legend.selected			{ background: url(img/selected.png) no-repeat left center; }
li.legend.currently			{ background: url(img/current.png) no-repeat left center; }
li.legend.search			{ background: url(img/searchresult.png) no-repeat left center; }
li.legend.move				{ background: url(img/icons/move.png) no-repeat left center; }
li.legend.zoom				{ background: url(img/icons/zoom.png) no-repeat left center; }
li.legend.add				{ background: url(img/icons/calendar.png) no-repeat left center; }
li.legend.remove			{ background: url(img/icons/remove.png) no-repeat left center; }
li.legend.expand			{ background: url(img/icons/expand.png) no-repeat left center; }
li.legend.download			{ background: url(img/icons/download.png) no-repeat left center; }

/* Graph */
div#graph					{ height:100%; /*cursor:move;*/ width:100%; position: fixed; left:0; top:0; z-index:1; float: left; text-align:left; }
div#infowrap				{ width:400px; z-index:3; position:fixed; bottom:10px; right:10px; }
div#info					{ display:none; z-index:3; color:#eee; padding:5px 10px; border-radius:5px; -moz-border-radius:5px; }
div#info					{ background: rgb(72, 72, 72); background: rgba(72, 72, 72, 0.9);}
div#info					{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8666666, endColorstr=#C8666666); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0F0F0F0, endColorstr=#C0F0F0F0)"; }

/* The box that appears when you click on a paper */
div#clickwrap				{ display:none; position:fixed; z-index:2; left:200px; top:300px; background: url(img/pointer6.png) no-repeat left top; padding:7px 0; margin-left:-7px; margin-top:12px; }
div#clickbox				{ height:28px;}
div#clickbox				{ background: rgb(240, 240, 240); background: rgba(240, 240, 240, 0.8); margin-left:-6px; }
div#clickbox				{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8eeeeee, endColorstr=#C0eeeeee); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0F0F0F0, endColorstr=#C0F0F0F0)"; }
div.click					{ width:28px; height:25px; position:relative; float:left; border: solid 1px #555; margin-left:-1px; }
div.click:hover				{ background: rgb(250, 250, 250); background: rgba(220, 220, 220, 0.9); cursor:pointer; }
div.click img				{ margin-top:4px; }
p.ii						{ text-align:left; }
p#infoTitle					{ font-size: 1.1em; }
p#infoAuthors				{ font-style: italic; }
p#infoTime					{ float:right; font-style:italic; }
p#infoRoom					{ float:right; font-style:italic; }
p#infoAbstract				{ margin-top:3px; }

/* List */
div#tabs					{ position:absolute; left:0px; top:38px; z-index:1; width:310px; margin:0px 0; text-align: left; background: #dddddd; border-right: 1px solid #c3c3c3;
}
div#tabs select	p			{ display:none; }
div.toolbar					{  margin: 20px; height:25px; width: 260px; border: 1px solid #e2e2e2; box-shadow: 0 0 5px rgba(1,1,1,.5); }
div.info h2					{ font-size: 17px; text-align: center; background-color: #666; color: #DDD; padding: 5px; border: solid 1px #333; }
div.toolbar div				{ display: inline; float: left; width: 115px;background-color: #fff;
							  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEyNSAzMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGFkYWRhIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMjUiIGhlaWdodD0iMzEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
							  background-image: -moz-linear-gradient(bottom, #dadada 0%, #f5f5f5 100%);
							  background-image: -o-linear-gradient(bottom, #dadada 0%, #f5f5f5 100%);
							  background-image: -webkit-linear-gradient(bottom, #dadada 0%, #f5f5f5 100%);
							  background-image: linear-gradient(bottom, #dadada 0%, #f5f5f5 100%);
							  padding-top: 5px; padding-left:9px; height: 21px;
							  padding-right: 6px;
							}
a.smalltool					{ color: #8b8b8b; float: right;}
a.smalltool	.iconx			{ color: #333; font-weight: bold; font-size: 15px;}
							
#tabhead 					{
								height: 40px;
								background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIzOSA0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDJkMmQyIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMzkiIGhlaWdodD0iNDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
								background-image: -moz-linear-gradient(bottom, #d2d2d2 0%, #ddd 100%);
								background-image: -o-linear-gradient(bottom, #d2d2d2 0%, #ddd 100%);
								background-image: -webkit-linear-gradient(bottom, #d2d2d2 0%, #ddd 100%);
								background-image: linear-gradient(bottom, #d2d2d2 0%, #ddd 100%);
								border-bottom: 1px solid #B4B4B4;
							}
#tabhead li					{
								float: left;
								display: inline;
								width: 33%;
								text-align: center;
								line-height: 40px;
								border-left: 1px solid #B4B4B4;
								margin-left: -1px;
							}
#tabhead li:last-child		{
								width: 34%; /* to fill the gap*/
							}
#tabhead li	a				{
								color: #848484;
								display: inline-block;
								width: 100%;
							}							
#tabhead li.ui-state-active	{	
								background: #dddddd;
								height: 39px;
								padding-top: 2px;
								color: #555;
							}
#tabhead li.ui-state-active	a{color: #555;}
#tabhead li.ui-state-active:hover	a{color: #555;}
#tabhead li.ui-state-active:hover {background: #dddddd;}
#tabhead li:hover {background: #dddddd;}
div.toolbar a:first-child div{
							  border-right: 1px solid #AAAAAA;
							}
div.toolbar div img			{ vertical-align: -4px; margin-right: 10px; }
div.toolbar div.downpdf img	{ vertical-align: -3px;}
div.toolbar div.downpdf		{ padding-top: 4px;height: 22px; padding-right: 5px;}
	
select.asmSelect			{ display:none; }
ul#sidebar 					{ margin: 20px; display: block; list-style: none; width: 260px;
}
#filteritemtemplate			{ display:none; }
li#listItemTemplate			{ display:none; }
li.listItem					{ background: rgb(246, 246, 246); background: rgba(246, 246, 246, 0.8);}
li.listItem					{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8f5f5f5, endColorstr=#C0f5f5f5); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0F0F0F0, endColorstr=#C0F0F0F0)"; }
li.listItem 				{ position: relative; 
							  list-style: none; 
							  border: 1px solid #aaa; 
							  width: 100%; 
							  margin-bottom: -1px; 
							  line-height: 1em; 
							  border-left: 2px solid #099; 
							  border: 1px solid #b3b3b3;
							  background-color: #ececec;
							  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.45);
							  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.45);
							  box-shadow: inset 0 0 0 1px rgba(255,255,255,.45);
							   
							}
li.listItem:hover 			{ background-color: #fafafa; }
li.listItem.current			{ background-color: #faeaea; 
							  padding-left:0px;
							}
li.filterItem.current		{ background-color: #fafada; }

							  
a.listItemPdfLink			{ color: #000; }
span.listItemLabel 			{ 
							  font-size: 11px;
							  margin-left: 1px;
							  display: block;
							  border-left: 4px solid #368485; 
							  }
li.filterItem span.listItemLabel {
							  border-left: 4px solid #777; 
							}
li.listItem.current	span.listItemLabel {
							  border-left: 4px solid #921;
							}						  
li.filterItem.current	span.listItemLabel {
							  border-left: 4px solid #FD3;
						  }
span.listItemLabel img		{ position:relative; float: left; margin-top:5px; margin-right:10px; padding-left:2px; margin-left: 7px;
}
img.imgtitle				{ padding-top: 6px; padding-left:2px; }
img.imgauthors				{ padding-left:2px; }
img.imgdownload				{ padding-left:2px; }
img.imgpresentation			{ padding-top:2px; }
span.listItemLabel p		{ position:relative; float: left; width:190px; }
a.listItemRemove			{ position: absolute; right: 3px; top: 9px; padding: 5px; }
ul.infoList					{ position: relative; display: block; padding-left:0; margin: 10px 0 10px 10px; list-style: none; }
li.infoItem 				{ position: relative; padding-left: 2px; list-style: none; border-bottom: 1px solid #ddd; width: auto; margin: 0 5px -1px 0; line-height: 1em;clear:both; }
span.img					{ position: relative; padding: 4px 0; float: left; width: 10%; }
span.info					{ position: relative; padding: 5px 0; float: left; width: 90%; }
div.scheduleSelect			{ height:24px; display:none; background-color; border: thin solid #999; margin-top: -4px; margin-right: -5px; padding-left: 35px; }
div.scheduleSelect p		{ float:left; padding-top:5px; padding-left:15px; }
div.scheduleSelect p.click	{ text-decoration: none; color:#721; cursor:pointer; }
div.scheduleSelect			{ background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.8);}
div.scheduleSelect			{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff, endColorstr=#C0ffffff); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF, endColorstr=#C0FFFFFF)"; }


/* Graph style */
circle						{ cursor: pointer; }
circle.node 				{ fill: #ffbf44; stroke: #ffd; stroke-width: 1.5px; }
circle.hover				{ fill: #D76534; stroke: #fdd; }
circle.selected				{ fill: #990C00; stroke: #dff; }
circle.search				{ stroke:yellow; stroke-width:3px; }
circle.scheduled		{ fill: #3C6E70; stroke: #86B5B3; stroke-width: 1px; }

/* Line value:*/
line.v2						{ stroke: #E1E1E1; }
line.v4						{ stroke: #B6B6B6; }
line.v6						{ stroke: #9D9D9D; }
line.v8						{ stroke: #818181; }
line.v10					{ stroke: #676767; }
line.link 					{ stroke: #aaa; }
line.hover					{ stroke: #D76534; }
/* line.selected				{ stroke: #990C00; } */
line.clikable				{ stroke: #990C00; }

polygon.handle				{ fill: #990C00; cursor: pointer;}
polygon.handle:hover		{ fill: #C85B3C; cursor: pointer;}

/* Overright the jquery UI style*/
#content .ui-widget-content			{background: #ddd;}


/* Forms styling */

.form-w						{ margin: 15px 20px; }	
.form-w	 input[type=text], textarea 	{
							  font-size: 1em;
							  -webkit-transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
							  -moz-transition: border-color .2s ease-out,-moz-box-shadow .2s ease-out;
							  background: white;
							  border: 1px solid #ddd;
							  -webkit-border-radius: 2px;
							  -moz-border-radius: 2px;
							  border-radius: 2px;
							  border: 1px solid #999;
							  color: #666;
							  padding: 8px 5px;
							  font-size: 13px;
							  width: 100%;
							  box-shadow: inset 0 0 3px rgba(1,1,1,.2);
							  }
.form-w select				 {
							  width: 100%;
							  font-size: 1em;
							 }

.form-w	 input[type=text]:focus, textarea:focus {
							  outline: none;
							  -webkit-box-shadow: 0 0 6px 0 #4b9de3;
							  -moz-box-shadow: 0 0 6px 0 #4b9de3;
							  box-shadow: 0 0 6px 0 #4b9de3;
							  border: 1px solid #4b9de3 !important; }

.form-w	label 		{
							  vertical-align: -4px;
							  padding-top: 8px;
							  padding-bottom: 3px;
							  float: left;
							  font-size: 1em;
							  width: 100%;
							 }
.form-w	label.inline_label   {
							  width: auto;
							  margin-left: 20px;
							  margin-right: 10px;
							  display: inline;
							  float: none;
							  vertical-align: 1px;
							  }
.form-w button.submit, .form-w input[type=button].submit{
							  float: right;
							 }
.ui-datepicker-trigger		 {
							  margin-left: 5px;
							  vertical-align: -12px;
}


