@(link: String)
@import helper._

<html>

<head>

<!-- Personal Graph Link -->
<script type="text/javascript">
	%{out.print('var personalLink =' + link + ';');
	}%
</script>

<!-- Util -->
<script src="@routes.Assets.at("js/util.js")" type="text/javascript"></script>

<!-- D3 -->
<script src="@routes.Assets.at("lib/d3/d3.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/d3/d3.geom.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/d3/d3.layout.js")" type="text/javascript"></script>

<!-- JQuery -->
<script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/jquery/jquery.asmselect.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/jquery/jquery-ui.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/jquery/jquery-svgpan.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@routes.Assets.at("lib/jquery/ui-lightness/jquery-ui-1.8.18.custom.css")">

<!-- Site -->
<script src="@routes.Assets.at("js/cookie.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/ui.js")" type="text/javascript"></script>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/reset.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/graph.css")">

<title>Trailhead: A Graphical Representation of Articles</title>
</head>

<body>
	<div id="content">

	<div id="header">

		<div id="logo">
			<img src="@routes.Assets.at("img/logo/logo.png")" alt="The Logo"/>
			<div id="title">
				<h1>Trailhead</h1>
			</div>
		</div>

		<!-- Menu -->
		<div id="menu">
			<h1>Trailhead</h1>
			<ul id="menulist" class="leftCol">
				<li class="about"><a class="menuLink" href="#">About</a></li>
				<li class="getstarted"><a class="menuLink" href="#">Get Started</a></li>
				<li class="knowmore"><a class="menuLink" href="#">How it Works</a></li>
				@if(link.equals("")) {
					<li class="personalgraph"><a class="menuLink" href="#">Personal Graph</a></li>
				}
			</ul>
			<div id="searchitem" class="rightCol">
				<li id="surprise"><a class="menuLink" 
						title="Add a random article to your schedule" 
						href="#">Surprise Me</a></li>
				<label for="name"><a href="#" class="menulink" 
						title="Search for an Article">Search</a></label>
				<input type="text" name="search" onFocus="$('#selectAll').fadeIn()" value="" id="searchField" class="search"/>
				<a href="#" title="Add all search results to your schedule" 
					class="menulink"><span id="selectAll">Add to 
						Schedule</span></a>
			</div>
		</div>
	</div>

	<!-- Description -->
	<div id="desc">
		<div class="desc leftMargin" id="about">

			<p>Trailhead is your own personal conference scheduler. Search for
				people or topics; browse connections between articles; add
				papers to your own schedule; If you wink the right way, it
				might even make you a sandwich.</p>

			<p>So dive in and click away! Search for a topic you like and use
			the graph to browse between related talks. Any time you find
			something that interesting, go ahead and add it to the side bar,
			to get your own personal exquisite conference
			schedule.</p>

			<p>Should you later decide to add or drop a few talks, despair
			not.  Trailhead never forgets, as long as you log in from the same
			browser and are not averse to cookies.</p>
		</div>

		
		<div class="desc leftMargin" id="getstarted">

			<div class="legend">
				<h2 class="legend">Graph Legend</h2>
				<ul class="legend nodes">
					<li class="legend node">An article</li>
					<li class="legend selected">An article you have already added to your schedule</li>
					<li class="legend currently">The last article you selected</li>
					<li class="legend search">An article matching your search term</li>
				</ul>
			</div>
			
			<div class="legend">
				<h2 class="legend">Navigation</h2>
				<ul class="legend navigation">
					<li class="legend move">Move by dragging the graph with your mouse</li>
					<li class="legend zoom">Zoom by scrolling in or out</li>
					<li class="legend add">Add an article to your 
						schedule</li>
					<li class="legend remove">Remove an article from your 
						schedule</li>
				</ul>
			</div>
	
			<div class="legend">
				<h2 class="legend">Schedule</h2>
				<ul class="legend schedule">
					<li class="legend create">Begin by clicking on an article 
						in the graph and add it to your schedule</li>
					<!-- <li class="legend expand">Click expand to see more 
						information about an article</li> -->
					<li class="legend download">Download your schedule as a PDF 
						ready to print</li>
					<li class="legend remove">Remove all articles from your 			
						schedule</li>
				</ul>
			</div>

		</div>

		<div class="desc leftMargin" id="knowmore">

			<p>The graph you are looking at is generated by comparing the
			closeness of a bit more than 600 papers submitted to the 
			2012 ISIT in Boston. They are currently rated based on how 
			many authors they have in common in the references, and each 
			paper is linked to the 4 closest neighbors.</p>

			<p>This project was created by Jonas Arnfred, master student in
			Computer science at EPFL as a project for R&uuml;diger Urbanke. The
			graph is based on D3, a javascript library for creating SVG
			graphics. If you have ideas about how to improve this project or
			just really like it, please write and tell me at
			
		</div>
		
		
		<div class="desc leftMargin" id="personalgraph">
			<p>Once you have performed some modifications in you graph or the scehdule, 
			you can create your personal page and continue graph modifications the next time 
			you visit this site. You just have to enter your email address and you will receive
			an email with the link of your personal graph.</p><br/>
			<p>
			@form(routes.Application.generateLink, 'target -> "blank", 'name -> "personalGraph", 'method -> "post") {
				<p>Email Address : <input type="text" name="useremail" value="" id="useremailId" class="useremailClass"/></p><br/>
				<a href="#">Send Personal Graph Link</a>
			}
			</p>
		</div>
		
	</div>


	<!-- Graph -->
	<div id="graph" class="graph"></div>
	<div id="infowrap"><div id="info"><p></p></div></div>
	<div id="clickwrap"><div id="clickbox">
			<div class="click" id="select"><a href="#" title="Add to schedule"><img alt="Add to Schedule" src="@routes.Assets.at("img/icons/calendar.png")"/></a></div>
			<!-- <div class="click" id="abstract"><img alt="Show Info" src="img/icons/info.png"/></div> -->
			<div class="click" id="download"><a href="#" title="Download"><img alt="Download Paper" src="@routes.Assets.at("img/icons/download.png")"/></a></div>
	</div></div>

	@form(routes.Application.generateSchedulePdf, 'target -> "blank", 'name -> "schedule", 'method -> "post", 'onSubmit -> "return false;") {
	<!-- List -->
	<div id="list" class="text">
		<div class="move">&nbsp;</div>
		<div class="info">
			<h2>Your Schedule</h2>
			<a href="#"><span class="downpdf"><img alt="Download Paper" src="@routes.Assets.at("img/icons/download.png")"/>Download</span></a>
			<a href="#"><span class="removeall"><img alt="Remove Papers" src="@routes.Assets.at("img/icons/remove.png")"/>Remove All</span></a>
		</div>
				
		<select multiple="multiple" id="papers" name="papers[]" 
			style="display:none" multiple="multiple" title="Please select a 
			paper">
		</select>
	}



	</div>

</div>


<script src="@routes.Assets.at("js/graph.js")" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32909051-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>